# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: ubuntu-latest

stages:
- stage: Build
  jobs:
  - job: Sharath_FirstJob
    steps:
    - bash: echo Build FirstJob   
    - bash: echo $(pipelineLevelVaraible)
  - job: SecondJob
    steps:
    - bash: echo Build SecondJob
- stage: DevDeploy
  variables:
    environment: JABIL_Dev
  dependsOn: Build  
  jobs:
  - job: DevDeployJob
    steps:
    - bash: echo $(environment)DeployJob   
- stage: QADeploy
  variables:
    environment: JABIL_QA
  dependsOn: Build
  jobs:
  - job: QADeployJob
    steps:
    - bash: echo $(environment)DeployJob   
- stage: ProdDeploy
  variables:
    environment: JABIL_Prod
  dependsOn: 
  - DevDeploy
  - QADeploy   
  jobs:
  - job: ProdDeployJob
    steps:
    - bash: echo $(environment)DeployJob 